body {
    padding: 1rem 0;
}

.one-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

li {
    margin: 1rem;
}

.btn-delete {
    font-size: 1rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100px;
    margin: 0;
}